@import '../base/settings';

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: $white-text;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        font-size: 2rem;
        font-weight: 800;
        color: $very-dark-blue-text;
    }
}
.header__dark-mode{
    display: flex;
    align-items: flex-end;
}
.moon{
    width: 20px;
    height: 20px;
    margin-right: 10px ;
}
.header__dark-mode button {
    background-color: $white-text;
    border: none;
    color: $very-dark-blue-text;
    font-weight: 600;

    &:hover{
        cursor: pointer;
    }
    
}

@media screen and (max-width: 321px){

    .header__container .logo {
        font-size: 1.6rem;
    
    }
    
}

