
//Colors

//Dark mode
$dark-blue-elements: hsl(209, 23%, 22%);
$very-dark-blue-background:  hsl(207, 26%, 17%);

//Light Mode
$very-dark-blue-text: hsl(200, 15%, 8%);
$dark-gray-input: hsl(0, 0%, 52%);
$very-light-gray-background: hsl(200, 15%, 8%);
$white-text: hsl(0, 0%, 100%);



//Typography

$homepage-Items-size: 1.4rem;
$country-size: 1.6rem ;

//Fonts

$font: 'Nunito Sans', sans-serif;
//Weights: 300, 600, 800